<ons-page id="Detail">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <p style="text-align: center;">
        <img src="img/m1.jpg" width="188" height="275" style="text-align:center;">
    </p>
    <p style="text-align: center;">
        เวด วิลสัน (ไรอัน เรย์โนลด์ส) อดีตเจ้าหน้าที่หน่วยเฉพาะกิจกองกำลังยอดฝีมือ ที่ตกต่ำกลายเป็นทหารรับจ้างฆ่า
        และพบว่าตนเองกำลังเป็นมะเร็งระยะสุดท้าย จึงยอมแลกทุกอย่างเพื่อให้ได้มีชีวิตอยู่ต่อ
        จึงรับการยื่นข้อเสนอจากเจ้าหน้าที่ลึกลับว่าเขาสามารถรักษามะเร็ง
        และรับพลังเหนือมนุษย์ไปเพื่อร่วมทีมกับเพื่อนบ้านเอ็กซ์เม็นอย่าง โคลอสซัส (สเตฟาน คาพิซิค)
        มนุษย์เหล็กจอมพลังและสาวน้อยพลังจิต เนกาโซนิก ทีนเอจ วอร์เฮ้ด (เบรียน่า ฮิลเดอแบรนด์) ต่อกรกับ เอแจ็กซ์ (เอ็ด
        สไครน์) และลูกสมุนพลังยักษ์อย่าง แองเจิ้ล ดัสต์ (จีน่า คาราโน่)

    </p>
    <p style="text-align: center;">
        <img src="img/m5.jpg" width="250" height="200" style="text-align:center;">
    </p>
</ons-page>